.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.webPage {
    background-color: #ddd;
    display: flex;
    border: 0;
    margin: 0 !important;
    min-height: 100vh;
}

.App-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: blue;
}

.button {
    width: 100%;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button button {
    background-color: #fff5;
    border: 2px solid blue;
    padding: 5px 30px 5px 30px;
    color: blue;
}

.footer {
    width: 100%;
    text-align: end;
    margin-top: -10px;
}

.label {
    margin-top: 10px;
}

.form-control {
    border: 2px solid blue !important;
    border-radius: 0 !important;
}

select {
    width: 80%;
    border: 2px solid blue;
    padding: 5px 5px;
    appearance: none;
}

.selector {
    float: right;
    width: 20%;
    height: 100%;
    border: 2px solid blue;
    border-left: 0;
    background-color: #fffa;
}

table {
    border: solid 2px blue;
    height: 350px;
}

td,
th {
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle !important;
}

.listNames:hover {
    cursor: pointer;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}