.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.webPage {
    background-color: rgb(210, 228, 233);
    display: flex;
    border: 0;
    margin: 0 !important;
    height: 100vh
}

.App-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: blue;
}

.button {
    width: 100%;
    justify-content: right;
    margin-top: 40px;
}

.label {
    margin-top: 10px;
}

select {
    width: 100%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}